.homePage{
  margin: auto 10px 50px 10px;
}
.homePage__section__buttons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.homePage__button{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.235);
  height: 70px;
  width: 90%;
  margin: 10px;
}

.homePage__section__news{
  min-height: 100vh;
  margin-left: 30px;
}

.floating-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  bottom: 12vh;
  right: 20px;
  background-color: #6bded7;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  font-size: 1.2rem;
}

.floating-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.floating-button a {
  color: white;
  text-decoration: none;
}

.floating-button::before {
  /* content: '+'; */
  display: block;
  font-size: 2rem;
  margin-bottom: 5px;
}

.floating-button::after {
  display: block;
  font-size: 0.9rem;
}