#articleUserProfile {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 70vw;
  align-items: center;
  height: 90vh
}

#userProfile {
  width: 80%;
  display: flex;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
}

.userPhoto {
  width: 10vw;
  height: 20vh;
  border-radius: 100%;
}

#buttons {
  display: flex;
  gap: 2rem;
}

p {
  color: red;
}
