.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  z-index: 10000;
}


.modal-close-button {
  position: absolute;
  right: 10px;
  border-radius: 3px;
  background-color:#56c9c1;
  font-size: 20px;
  cursor: pointer;
  z-index: 10000;
  border:none;
}

.modal-p-close-button {
  color: white;
  
}

.modal__button{
  border: none;
  background-color: #6bded7;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  margin: 30px auto 0 auto;
  
}

.modal__button > button:hover {
  background-color: #56c9c1;
}

@media(max-width: 420px) {
  .modal__button{
    font-size: .7rem;
  }
}