.header {
  min-width: 100%;
  height: 90px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.563);
  background: var(--corporationX);
  /* position: fixed; */
  border-radius: 5px;
  box-sizing: border-box;
  /*  flex-wrap: wrap; */
  position: fixed;
  z-index: 3;
}



.header__section__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  height: 90px;
  box-sizing: border-box;
}

.logo > img {
  height: 70px;
  border-radius: 50%;
}

.header__section__search > img {
  height: 80px;
}

.header__section__search__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.445);
  border: none;
  border-radius: 5px;
  width: 900px;
  height: 60px;
  margin-right: 20px;
  padding: 1rem;
}

.header__section__search--input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 300px;
}



@media (max-width: 420px) {

  .header {
    box-shadow: none;
    width: 100%;
  }

  .header__section__search__article {
    background-color: rgba(128, 128, 128, 0.202);
    border: 1px solid white;
    top: 100px;
    position: absolute;
    width: 340px;
    height: 50px;
  }

  .header__section__search {
    display: flex;
  }
  .header__section__search--input {
    width: 100%;
    height: 30px;
  }

  .logo {
    display: none;
   
  }
  .navProfile{
    width: 100%;
  }


  .info-profile-movil{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .logout-profile-movil{
    margin-right: 100px;
  }

  .buttons-header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .header__section__search__article{
    margin-right: 0px;
  }
}
