.navProfile {

  width: 100%;
}

#figure-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navProfile_menu {
  background-color: var(--corporation);
  border: 1px solid black;
  width: 100%;
}

#img-profile {
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
}

.navProfile_menu_ul_li {
  list-style: none;
}

.link-profile {
  text-decoration: none;
}

#img-profile-movil{
  width: 50px;
  border-radius: 50%;
}

.info-profile-movil{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.fa{
  font-size: 30px;
}

.logout-profile-movil{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
