.navProfile {
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
}

#img-profile {
  max-width: 70px;
  width: 100%;
  max-height: 100px;
  border-radius: 50%;
}

.figure-profile-links > a{
  display: flex;
  align-items: center;
}

.figure-profile-links{
  display: flex;
  align-items: center;
}
.button-logout {
  padding: 1rem;
  border: none;
  background-color: #6bded7;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
}

*/ .link-profile {
  text-decoration: none;
}

#img-profile-movil {
  width: 50px;
  border-radius: 50%;
}

.info-profile-movil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.fa {
  font-size: 30px;
  color: black;
}

.logout-profile-movil {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media(max-width:420px){
  .fa{
    background: transparent !important;
    font-size: 30px !important;
    color: white !important;
  }

  .logout-movil{
    background: transparent !important;
    border: none;
  }
}
