.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 67.5vh;
}

.articleRegister {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin: 20px;
}

.h1-title {
  font-size: 28px;
}

.articleRegister h1 {
  text-align: center;
  color: #6bded7;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.formImg {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.formImg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#selectedPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: none;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
  display: block;
}

textarea {
  resize: vertical;
}

.button-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


@media screen and (max-width: 420px) {
  .register-container {
    margin-top: 50px;
    height: 82vh;
  }

  .formImg {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .register {
    width: 80%;
    height: auto;
    margin: auto;
  }
}