article.articleRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem solid var(--corporation);
  border-radius: 2rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  margin: 1rem;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

p.error {
  background-color: var(--error);
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  border: 0;
}

#selectedPhoto {
  width: 70%;
  margin-top: 2rem;
  border-radius: 50%;
}

#bio {
  width: 80%;
  height: 30%;
}

#photo {
  margin-top: 1rem;
}

input {
  width: 80%;
}

label,
button {
  margin-top: 1rem;
  text-align: center;
}

button {
  width: 40%;
  height: 20%;
}
