.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: var(--corporationX);
  bottom: 3px;
  left: 4px;
  right: 4px;
  /* height: 90px; */
  z-index: 9999;
  position: static;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.563);
  align-self: flex-end; /* agregar esta propiedad */
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.copyright p {
  font-size: small;
}

@media (max-width: 420px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
