.footer {

  background: var(--corporationX);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 9999;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: end;
  
}

.copyright p {
  font-size:small;
  
}
