.inactive{
    background-color: transparent;
    color: black;
}
.inactive:hover{
    background: none;
}

.active:hover{
    background: none;
    color: black;
}

#fa-detail{
    color: black;
    font-size: 20px;
}

.button__close__modal{
    margin-right: -90%;
    background-color: var(--corporation);
    border: none;
    border-radius: 5px;
    color: white;
    width: 30px;
    height: 30px;
}

.button__close__modal:hover{
    background-color: #b107ea;
}

.active{
    background-color: red;
    color: white;
}

.strong{
    color: black;
    font-weight: 400;
}

.newsDetail{
    min-height: 100vh;
    margin-top: 100px;
}

.newsDetails__article {
    margin: 0px 0px 100px 0px;
}

.newsDetails__article__figure{
    height: 600px;
    border-radius: 5px;
}

.newsDetails__article__section__info__user--avatar{
    width: 70px;
    border-radius: 50%;
}

.newsDetails__article__figure__section {
    color: white;
    display: flex;
    align-items: self-end;
    position: absolute;
    top: 50px;
    width:100%;
    justify-content: space-between;
}

.newsDetails__article__figure__section--p{
   background-color:  #b107ea;
  border-radius: 10px;
  padding: 10px;
  
}

.newsDetails__article__figure__section--button{
    color: var(--corporation);
    margin-top: 50px;
    background: transparent;
    border: none;
}

.newsDetails__article__figure__section--button:hover{
    background: none;
}

.newsDetails__article__figure__section--button:hover > i{
    color:  #b107ea;

}

.newsDetails__article__figure__section--category{
    font-size: 20px;
    background-color: #b107ea;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.752);
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 1;
    color: white;
}

.newsDetails__article__figure__section--title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left: 0;
    min-width: 200px;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 100px;
    z-index: 1;
    color: white;
}

.newsDetails__article__section__info{
    margin-top: 10px;
}
.newsDetails__article__section__edit{
    position: aboslute;
    width: 80%;
    height: 50%;
    margin: 5vh auto
}
.newsDetails__article__section__info--date{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.572);
}
.newsDetails__article__section__info__user{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    margin-top: 10px;
}

.newsDetails__article__section__info__user--name{
    min-width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.newsDetails__article__section__info__text{
    margin-top: 50px;
}

hr{
    margin-top: 10px;
}

.newsDetails__article__section__info__text > p {
    margin-top: 10px;
    color: black;
    word-spacing: 2px;
    letter-spacing: .1px;
    line-height: 1.2rem;
}

.newsDetails__article__section__info__votes--buttons{
    display: flex;
    background: var(--corporation);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
    padding: 5px;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.expandable-button {
    position: relative;
    width: 8em;
    height: 8em;
    border:  1px solid ;
    border-radius: 50%;
    background-color: black;
    transition:  0.15s ease-out;
    cursor: pointer;
    box-shadow: 10px 10px 50px 1px ;
}

.expandable-button .fill-block {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.btn-container{
    position: absolute;
    margin-top: -130px;
}

.newsDetails__article__section__info__votes{
    display: flex;
    justify-content: space-around;
    width: 150px;
}




.expandable-button .close-icon {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.expandable-button .close-icon .fa { 
    position: absolute;
    top: 100%;
    transition: 0.15s;
}

.expandable-button:hover {
    box-shadow: 1 15px 100px 10px #10182022;
}

.expandable-button .expansion-item {
    position:absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    text-decoration: none;
    color: #101820;
    transition: 0.25s;
    box-shadow: 0 5px 80px 5px #10182044;
}


.expandable-button .expansion-item .expansion-content {
    display: none;
    transition: 0.15s;
    animation: fadeOut 0.5s linear forwards;

} 

.expandable-button .expansion-item:nth-of-type(1) {
    transform: translateX(calc(-60% + -25px)) translateY(-50%);
}
.expandable-button .expansion-item:nth-of-type(2) {
    transform: translateX(calc(-57% + 0px)) translateY(-50%);
}
.expandable-button .expansion-item:nth-of-type(3) {
    transform: translateX(calc(-54% + 25px)) translateY(-50%);
}

.expandable-button.expanded {
    width: 5em;
    height: 5em;
}

.expandable-button.expanded:hover{
    box-shadow: 1 10px 50px 5px #10182022;
}

.expandable-button.expanded .close-icon .fa {
    top: 50%;
    transform: translateY(-50%);
    transition-delay: 0.25s;
}


.expandable-button.expanded .expansion-item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: -50%;
    pointer-events: fill;
    transform: translateX(1.5rem);
    background: transparent;
    border: none;
    cursor: pointer;
}

.expandable-button.expanded .expansion-item:hover{
    top: -60%;
}

.expandable-button.expanded .expansion-item .expansion-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 0.25s linear forwards;
    padding: 5px;
    background-color: var(--corporation);
    border-radius: 5px;
}

.expandable-button.expanded .expansion-item .expansion-content:hover{
    background-color:#b107ea;
}

.editNew{
  margin-top: -10px;
}

.form-container-editNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(1){
    left: calc(-7.5rem - -5%);
    transition-delay: 0.05s;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(1){
    animation-delay: 0.1s;
}
.expandable-button.expanded .expansion-item:nth-last-of-type(2){
    left: calc(0rem - 0%);
    transition-delay: 0.1s;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(2){
    animation-delay: 0.2s;
}
.expandable-button.expanded .expansion-item:nth-last-of-type(3){
    left: calc(7.5rem - 5%);
    transition-delay: 0.15s;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(3){
    animation-delay: 0.3s;
}

.newsDetails__article__section__info__votes--buttons > .fa {
    font-size: 20px;
}

.modal__edit{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    height: 100%;
    margin: 0px !important;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



@media(max-width: 420px) {

    .btn-container{
        margin-top: -60px;
    }

    .expandable-button{
        width: 5em;  
        height: 5em;
   }

   .newsDetail{
    margin: 0px !important;
    }

    .arrow{
        color: var(--corporation);
        font-size: 40px;
    }

    .arrow:hover{
       color: #b107ea;
    }

    .newsDetails__article__figure__section{
        align-items:self-end;
        justify-content: space-between;
        padding: 10px;
    }

    .newsDetails__article__section__info {
        margin-top: 5px;
        padding: 10px;
    }

    .newsDetails__article__figure {
        height: 350px;
    }

    .newsDetails__article__section__info{
        margin-top: 20px;
    }

    .newsDetails__article__section__info__votes--buttons > .fa {
        font-size: 20px;
    }

    .form-container-editNew{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .form-container-editNew > h1{
        font-size: 20px;
    }

    #labelEdit{
        font-size: 10px;
    }
    
    .texteAreaEdit{
        font-size: 10px;
    }

    .titleEdit{
        font-size: 10px;
    }

    .categotyEdit{
        font-size: 10px;
    }

    .fileEdit{
        height: 30px;
        font-size: 10px;
    }
    #button-form-EditNew{
        width: 90px;
        height: 20px;
        font-size: 10px;
        margin-top: 5px;
    }
    
  }