.inactive{
    background-color: transparent;
    color: black;
}
.inactive:hover{
    background: none;
}

.active:hover{
    background: none;
    color: black;
}

.active{
    background-color: red;
    color: white;
}

.newsDetail{
    min-height: 100vh;
}

.newsDetails__article {
    margin-bottom: 100px;
}

.newsDetails__article__figure{
    height: 600px;
    border-radius: 5px;
}

.newsDetails__article__section__info__user--avatar{
    width: 70px;
    border-radius: 50%;
}

.newsDetails__article__figure__section {
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    width: 95%;
    justify-content: space-between;
}

.newsDetails__article__figure__section--button{
    margin-top: 0px;
    background: transparent;
}

.newsDetails__article__figure__section--button:hover{
    background: none;
}

.newsDetails__article__figure__section--button:hover > i{
    color: var(--corporation);

}

.newsDetails__article__figure__section--category{
    font-size: 20px;
    background-color: #b107ea;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.752);
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 1;
    color: white;
}

.newsDetails__article__figure__section--title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    bottom:0;
    left: 0;
    min-width: 200px;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 100px;
    z-index: 1;
    color: white;
}

.newsDetails__article__section__info{
    margin-top: 10px;
}

.newsDetails__article__section__info--date{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.572);
}
.newsDetails__article__section__info__user{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    margin-top: 10px;
}

.newsDetails__article__section__info__user--name{
    min-width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.newsDetails__article__section__info__text{
    margin-top: 50px;
}

.newsDetails__article__section__info__text > p {
    margin-top: 10px;
    color: black;
    word-spacing: 2px;
    letter-spacing: .1px;
    line-height: 1.2rem;
}

.newsDetails__article__section__info__votes--buttons{
    display: flex;
    background: var(--corporation);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.expandable-button {
    position: relative;
    width: 8em;
    height: 8em;
    border:  1px solid ;
    border-radius: 50%;
    background-color: black;
    transition:  0.15s ease-out;
    cursor: pointer;
    box-shadow: 0 10px 50px 5px ;
}

.expandable-button .fill-block {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.btn-container{
    position: absolute;
    margin-top: -130px;
}

.newsDetails__article__section__info__votes{
    display: flex;
    justify-content: space-around;
    width: 150px;
}




.expandable-button .close-icon {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.expandable-button .close-icon .fa { 
    position: absolute;
    top: 100%;
    transition: 0.15s;
}

.expandable-button:hover {
    box-shadow: 1 15px 100px 10px #10182022;
}

.expandable-button .expansion-item {
    position:absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    text-decoration: none;
    color: #101820;
    transition: 0.25s;
    box-shadow: 0 5px 80px 5px #10182044;
}


.expandable-button .expansion-item .expansion-content {
    display: none;
    transition: 0.15s;
    animation: fadeOut 0.5s linear forwards;

} 

.expandable-button .expansion-item:nth-of-type(1) {
    transform: translateX(calc(-60% + -25px)) translateY(-50%);
}
.expandable-button .expansion-item:nth-of-type(2) {
    transform: translateX(calc(-57% + 0px)) translateY(-50%);
}
.expandable-button .expansion-item:nth-of-type(3) {
    transform: translateX(calc(-54% + 25px)) translateY(-50%);
}

.expandable-button.expanded {
    width: 5em;
    height: 5em;
}

.expandable-button.expanded:hover{
    box-shadow: 1 10px 50px 5px #10182022;
}

.expandable-button.expanded .close-icon .fa {
    top: 50%;
    transform: translateY(-50%);
    transition-delay: 0.25s;
}


.expandable-button.expanded .expansion-item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: -50%;
    pointer-events: fill;
    transform: translateX(-0.5rem);
}

.expandable-button.expanded .expansion-item:hover{
    top: -60%;
}

.expandable-button.expanded .expansion-item .expansion-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 0.25s linear forwards;
    padding: 5px;
}


.expandable-button.expanded .expansion-item:nth-last-of-type(1){
    left: calc(-7.5rem - -5%);
    transition-delay: 0.05s;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(1){
    animation-delay: 0.1s;
}
.expandable-button.expanded .expansion-item:nth-last-of-type(2){
    left: calc(0rem - 0%);
    transition-delay: 0.1s;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(2){
    animation-delay: 0.2s;
}
.expandable-button.expanded .expansion-item:nth-last-of-type(3){
    left: calc(7.5rem - 5%);
    transition-delay: 0.15s;
}

.expandable-button.expanded .expansion-item:nth-last-of-type(3){
    animation-delay: 0.3s;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



@media(max-width: 420px) {

    .btn-container{
        margin-top: -60px;
    }

    .expandable-button{
        width: 5em;  
        height: 5em;
   }
  }