.p-footer {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    text-align: justify;
    margin: 0 20px;
    
  }
  
  
.title-footer {
    font-size: 36px;
    color: black;
    margin: 0 20px;
    margin-bottom: 20px;
  }