.login {
  display: flex;
  align-items: center;
 min-height: 90vh;
}

.login-container {
  background-color: #f5f5f5;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 50%;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  /* margin-top: 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h2 {
  text-align: center;
  color: #6bded7;
  margin-bottom: 20px;
  font-size: 28px;
  margin: 1rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}

.label-login {
  margin: 5px 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

.input-user {
  margin: 10px 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 95%;
}

.input-user {
  outline: none;
  box-shadow: 0 0 5px #6bded7;
}

.login-container button {
  padding: 1rem 2rem;
  border: none;
  background-color: #6bded7;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  margin: 30px auto 0 auto;
}

.button-container {
  text-align: center;
}

.login-container > button:hover {
  background-color: #92929240;
}

.p-error-form {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .login-container {
    width: 60%;
    margin: 50px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .login-container h1 {
    font-size: 36px;
  }

  .label-input-container {
    display: flex;
    flex-direction: column;
  }

  .input-user {
    margin: 10px 15px;
    font-size: 18px;
  }
  .button-container {
    display: flex;
  }
  .login-container button {
    font-size: 1.4rem;
    margin: 30px auto 0;
  }
}
