html {
  --bg: #d9d9db;
  --bright: #ffffff;
  --corporation: #6bded7;
  --corporationY: linear-gradient(rgb(94, 255, 244),#6bded7,rgb(122, 255, 246));
  --corporationX: linear-gradient(to right ,rgb(122, 255, 246),rgb(107, 222, 215),rgb(122, 255, 246));
  --corporation: #6bded7;
  --error: #c84d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
} */



