* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg: #d9d9db;
  --bright: #ffffff;
  --corporation: #6bded7;
  --error: #c84d4d;
}

main {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
}
