@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 420px) {
  * {
    padding: 0px;
  }
}
