.oldNews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
    grid-auto-rows: 18rem;  
    gap: 1rem;
}


@media(max-width: 420px) {
    .oldNews{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
     grid-auto-rows: 10rem;  
     gap: 1rem;
    }
   }